<!DOCTYPE html>
<html>
    <head>
        <title>Ejemplo de un texto formateado</title>
    </head>
    <body style="background-color: orange;">
        <h1>Programación Web</h1>
        <p>La programación Web que se ha popularizado mucho en los últimos años. El crecimiento del <strong> internet </strong>ha permitido la creación de millones de páginas  web, que ofrecen funcionalidades y servicios.</p>
        <h2>Lenguajes mas usados para la programación web</h2>
        <p>Los lenguajes mas usados para la programación web son <span style="font-style: italic; font-weight: bold;">HTML, CSS, JavaScript.</span></p>
        <ul>
            <li><h3>HTML</h3></li>
            <p>Este lenguaje le da estructura a las páginas.</p>
            <li><h3>CSS</h3></li>
            <p>Este lenguaje es para decorar páginas.</p>
            <li><h3>JavaScript</h3></li>
            <p>Este lenguaje es para manipular elementos de las páginas.</p>
        </ul>
    </body>
</html>