<!DOCTYPE html>
<html>
    <head>
        <title>Encabezados</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Encabezados en HTML(HyperText Markup Language)</h1>
        <p>El elemento de encabezado h1 usualmente encierra el titulo de nuestra página o sección  y cuenta con seis niveles, siendo h1 el de mayor tamaño y el 6 el menor tamaño.</p>
        
        <h2>Encabezado h2</h2>
        <p>Este es el encabezado 2, como podemos visualizar es mucho mas pequeño.</p>

        <h3>Encabezado h3</h3>
        <p>Este es el encabezado 3, como podemos ver es mucho mas pequeño que h1 y h2.</p>

        <h4>Encabezado h4</h4>
        <p>Este es el encabezado 4, como podemos ver es muchisimo mas pequeño que el h1, h2 y h3.</p>

        <h5>Encabezado h5</h5>
        <p>Este es el encabezado 5, este es el penultimo encabezado mas pequeño de todos.</p>

        <h6>Encabezado h6</h6>
        <p>Este es el encabezado mas pequeño de todos, es pequeñito.</p>

    </body>
</html>