<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enlaces</title>
    </head>
    <body>
        <h1 style="margin: 0;" id="h1-principal">TEMAS FINALES</h1>
        <h2>TEMA 11: ENLACES</h2>
        <p>Enlaces o hipervinculos son elementos muy comunes que permiten navegar hacia paginas ajenas a las nuestras o tambien sirven para navegar en nuestros archivos. Estos enlaces incluyen sea imagenes, videos o urls de navegadores y tambien se pueden utilizar en cualquier elemento <strong>HTML</strong> y no exclusivamente al texto de una página.</p>
        <h3>Enlaces a páginas externas</h3>
        <a href="https://www.youtube.com/">Este enlace me lleva a YouTube</a>

        <h3>Enlaces dentro de un parrafo</h3>
        <p>Podemos visitar la tienda de carros desde <a href="https://www.youtube.com/watch?v=T1intZyhXDU&t=1228s&ab_channel=Fazt" style="font-size: 3em; text-decoration: none;">aqui</a></p>

        <h3>Parrafo completo con enlace</h3>
        <a href="https://www.google.com/"><p>¡Este enlace te lleva a Google!</p></a>

        <h3>Enlace en una pestaña nueva</h3>
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">¡Este enlace te lleva a Gmail desde una nueva pestaña!</a>
        <br>

        <h3>Enlace con imagen</h3>
        <a href="https://es.wikipedia.org/wiki/Paisaje" target="_blank" style="background-color: purple;"><img src="https://img.freepik.com/foto-gratis/arco-iris-al-final-paisaje-carretera_23-2151596720.jpg" alt="" id="nicolas"></a>

        <hr color="black">
        <h2 style="margin: 0;">TEMA 12: ENLACES INTERNOS</h2>
        <p>Este tipo de enlaces de usa todo el tiempo para navegar en nuestro sitio web, normalmente en barras de navegación. En el atributo <strong>href</strong> ya no se pone la <strong>url</strong> si no ponemos la ruta del archivo de la parte de nuestro sitio a la que queremos navegar.</p>
        <h3>Ejemplo con enlace a un archivo del inicio del curso</h3>
        <a href="introduccion.html">Clic aqui para ingresar al inicio del curso</a>
        <br>
        <h3>Enlaces a otras partes de la misma página</h3>
        <a href="#h1-principal">Me lleva al titulo principal de la pagina</a>
        <hr color="black">
        <h2 style="margin: 0;">TEMA 13: OTROS ELEMENTOS</h2>
        <p></p>
        <hr color="black">
        <h2 style="margin: 0;">TEMA 14: SPANS Y ENTIDADES</h2>
        <p></p>
        <hr color="black">
        <h2 style="margin: 0;">EJERCICIO FINAL HTML</h2>
        <p></p>

        <div style="width: 200px; height: 200px; padding: 20px; border: 20px solid transparent; margin: 20px; background-color: pink;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam adipisci eum neque at sequi esse hic alias numquam asperiores cum perspiciatis, reprehenderit, nulla doloribus facere illo cupiditate debitis sit.</p>
        </div>
    </body>
</html>