<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enlaces</title>
    </head>
    <body>
        <h1 style="margin: 0;" id="h1-principal">TEMAS FINALES</h1>
        <h2>TEMA 11: ENLACES</h2>
        <p>Enlaces o hipervinculos son elementos muy comunes que permiten navegar hacia paginas ajenas a las nuestras o tambien sirven para navegar en nuestros archivos. Estos enlaces incluyen sea imagenes, videos o urls de navegadores y tambien se pueden utilizar en cualquier elemento <strong>HTML</strong> y no exclusivamente al texto de una página.</p>
        <h3>Enlaces a páginas externas</h3>
        <a href="https://www.youtube.com/">Este enlace me lleva a YouTube</a>

        <h3>Enlaces dentro de un parrafo</h3>
        <p>Podemos visitar la tienda de carros desde <a href="https://www.youtube.com/watch?v=T1intZyhXDU&t=1228s&ab_channel=Fazt" style="font-size: 3em; text-decoration: none;">aqui</a></p>

        <h3>Parrafo completo con enlace</h3>
        <a href="https://www.google.com/"><p>¡Este enlace te lleva a Google!</p></a>

        <h3>Enlace en una pestaña nueva</h3>
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">¡Este enlace te lleva a Gmail desde una nueva pestaña!</a>
        <br>

        <h3>Enlace con imagen</h3>
        <a href="https://es.wikipedia.org/wiki/Paisaje" target="_blank" style="background-color: purple;"><img src="https://img.freepik.com/foto-gratis/arco-iris-al-final-paisaje-carretera_23-2151596720.jpg" alt="" id="nicolas"></a>

        <hr color="black">
        <h2 style="margin: 0;">TEMA 12: ENLACES INTERNOS</h2>
        <p>Este tipo de enlaces de usa todo el tiempo para navegar en nuestro sitio web, normalmente en barras de navegación. En el atributo <strong>href</strong> ya no se pone la <strong>url</strong> si no ponemos la ruta del archivo de la parte de nuestro sitio a la que queremos navegar.</p>
        <h3>Ejemplo con enlace a un archivo del inicio del curso</h3>
        <a href="introduccion.html">Clic aqui para ingresar al inicio del curso</a>
        <br>
        <h3>Enlaces a otras partes de la misma página</h3>
        <a href="#h1-principal">Me lleva al titulo principal de la pagina</a>
        <hr color="black">
        <h2 style="margin: 0;">TEMA 13: OTROS ELEMENTOS</h2>
        <p>Practicamente ya sabemos todos los elementos necesarios para construir una pagina web, en esta sección vamos a mirar otros elementos <strong>html</strong> útiles: iframes, tablas y spans. También aprenderás sobre las entidades, que sirven para agregar caracteres especiales a tu código.</p>
        <h3 style="margin: 0;">Iframes</h3>
        <p style="margin: 0;">Los iframes se pueden visualizar como un marco que contiene otra página web tanto interna como externa a nuestro sitio, se debe hacer uso de la etiqueta <strong>iframe</strong> y el atributo src y se pueden agregar los atributos width y height para modificar ancho y alto.</p>
        <h4 style="margin: 0;">Iframe externo a otra Web</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/w16TuMy5Zbo?si=BMA1MvQYWHQ2BLjh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br>
        <br>
        <h4 style="margin: 0;">Iframe interno a un archivo local</h4>
        <iframe src="imagenes.html" width="600px" height="400px"></iframe>
        <h3 style="margin: 0;">Tablas</h3>
        <p style="margin: 0;">Se define con la etiqueta <strong>table</strong> donde esta misma nos permite organizar contenido en columnas y filas. Se utilizan las etiquetas <strong>tr para definir filas, th para definir encabezados de tablas y td para definir celdas normales.</strong> A continuación un pequeño ejemplo: </p>
        <style>
            table{
                border: solid;
                border-collapse: collapse;
                text-align: center;
            }
            tr, td, th{
                border: 3px solid black;
            }
            th{
                background-color: brown;
            }
            td{
                background-color: pink;
            }
            .nombres{
                background-color: aqua;
            }
            .apellidos{
                background-color: yellow;
            }
            .edades{
                background-color: tomato;
            }
        </style>
        <table style="width: 100%;"><!--Definir tabla-->
            <tr><!--Definir filas-->
                <th>Nombre</th><!--Definir encabezados de tablas-->
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
            <tr>
                <td class="nombres"">Luis</td><!--Definir celdas normales-->
                <td class="apellidos">Zarate</td>
                <td class="edades">20</td> 
            </tr>
            <tr>
                <td class="nombres">Claudia</td>
                <td class="apellidos">Borjas</td>
                <td class="edades">25</td>
            </tr>
            <tr>
                <td class="nombres">Edwin</td>
                <td class="apellidos">Arias</td>
                <td class="edades">20</td>
            </tr>
        </table>
        <hr color="black">
        <h2 style="margin: 0;">TEMA 14: SPANS Y ENTIDADES</h2>
        <p></p>
        <hr color="black">
        <h2 style="margin: 0;">EJERCICIO FINAL HTML</h2>
        <p></p>
    </body>
</html>