<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Estructura basica.</title>
        <link rel="stylesheet" href="#">
    </head>
    <body>
        <h1>Estructura basica de HTML(HyperText Markup Language.).</h1>
        <p>En este documento estamos viendo la estructura basica de un documento HTML y sus diferentes etiquetas(tags).</p>
        <a href="introduccion.html" target="_blank">Este enlace me lleva al primer documento de intruducción.</a>
        <script>
            alert("Esta es una alerta para indicar que esta es la estructura basica de HTML.")
        </script>
    </body>
</html>