<!DOCTYPE html>
<html>
    <head>
        <title>Formatear Texto.</title>
    </head>
    <body>
        <h1>¿Que significa formatear texto en HTML(HyperText Markup Language)</h1>
        <p>Formatear texto significa darle otro estilo al texto para enfatizarlo, ya sea una palabra o una oración completa, esto no es recomendable ya que recordemos que HTML se usa para estructurar no para estilar, lo recomendable para modificar el estilo de un texto sea negrita, cursiva y subrayado es usando CSS(Cascading Styles Sheets)</p>


        <b>Este texto es importante.</b><br><!--Texto en negrilla.-->
        <i>Este texto esta en cursiva.</i><br><!--Texto en cursiva.-->
        <u>Este texto esta subrayado.</u><br><!--Texto subrayado.-->
        <strong>Indica al navegador que el texto es importante(negrilla)</strong><br><!--Texto en negrilla(importante).-->
        <em>Indica al navegador que el texto se enfatiza(importante)</em><br><!--Texto enfatizado.-->
        <sub>Texto abajo.</sub><br><!--Texto en el subindice.-->
        <sup>Texto arriba.</sup><br><!--Texto en el supindice.-->
        <del>hola</del><br><!--Texto borracho(tachado)-->
        <mark>Texto marcado.</mark><br><!--Marcar el texto como relevantes.-->
    </body>
</html>