<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Introducción a HTML.</title>
    </head>
    <body>
        <h1>Bienvenidos a la introducción de HTML(HyperText Markup Language)</h1>
        <p>HTML forma el esqueleto de todas las páginas web. Este lenguaje tiene todas las herramientas para definir el formato de las paginas y permite incluir imágenes, formularios, botones e incluso enlaces a otros documentos.</p>
        <p>Nuestros navegadores interpretan los documentos HTML para que podamos visualizarlos dandole clic derecho y dar clic en Inspeccionar o ver código fuente de la pagina.</p>
        <h2>Las competencias que adquirás en este módulo son las siguientes: </h2>
        <ul>
            <li>Reglas generales de HTML.</li>
            <li>Conocimiento sobre elementos de HTML como encabezados, listas, parrafos, formularios, etc.</li>
            <li>Estructuramiento basico de paginas web.</li>
        </ul>
</html>