<!DOCTYPE html>
<html>
    <head>
        <title>Listas Descriptivas</title>
    </head>
    <body style="background-color: yellowgreen; margin: 5px;">
        <h1 style="color: brown; font-family: verdana; margin: 0;">Listas descriptivas en HTML(HyperText Markup Language)</h1>
        <p style="margin-bottom: 0; font-family: cambria; text-align: justify;">Es un tipo de lista que tiene el mismo desarrollo que las listas ordenadas y desordenadas a diferencia que en esta lista descriptiva utilizan diferentes etiquetas para ordenar su contenido como lo son <strong>dl, dt, dd. </strong>La funcionalidad de la dt es definir terminos y en la etiqueta dd es para agregar descripciones a ellos, por ejemplo se puede utilizar para crear un glosario en una página web.</p>
        <h2 style="margin: 0; color: mediumvioletred; font-size: 5em;">Ejemplo</h2>
        <dl>
            <dt style="font-weight: bold; font-size: 2em; color: orangered;">Café</dt>
            <dd style="font-size: 4em;">Bebida caliente oscura.</dd>
            <dt style="font-weight: bold; font-size: 2em; color: magenta;">Leche</dt>
            <dd style="font-size: 4em;">Bebida fría de color blanco.</dd>
        </dl>
    </body>
</html>