<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Párrafos</title>
    </head>
    <body>

        <h1 style="text-align: center;">Párrafos en HTML(HyperText Markup Language)</h1>
        <p style="text-align: justify;">Los párrafos se usan para colocar texto en las paginas web. La principal razón por la que se usa esta etiqueta es porque nos permite cambiar el estilo de nuestro texto. Otra de las ventajas de los parrafos es que hacen que nuestro codigo sea mas legible y ordenado.</p>

        <h2 style="text-align: center;">La importancia de utilizar la etiqueta p y, ¿por qué se debe usar?</h2>
        <p style="text-align: justify;">Primero la identación al momento de leer y segundo ponerle atributos al parrafos, sin la p no podriamos hacer esto.</p>
        <p style="text-transform:uppercase ;">hola</p>
    </body>
</html>